


body{
    background: url(Pixel/images/space1.jpg);

    color: white;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
   justify-content: start;

background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
/* width: 50%; */
    /* align-items: center; */
}

.form-div{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.form-div input{
    margin-left: 20px;
}